<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/my-style.css}">
  <title>Profile</title>
</head>

<body action="#" th:action="@{/profile}" th:method="get">
  <nav class="navbar bg-body-tertiary ">
    <a class="navbar-brand" href="#">Customers Management System</a>
    <div class="container-fluid justify-content-end">
      <a th:href="@{/}" class="btn btn-outline-danger" type="submit">Log Out</a>
    </div>
  </nav>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>