<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/my-style.css}">
  <title>Signup</title>
</head>

<body>
  <div class="container">
    <nav class="navbar bg-body-tertiary ">
      <a class="navbar-brand" href="#">Customers Management System</a>
      <div class="container-fluid justify-content-end">
        <a th:href="@{login}" class="btn btn-outline-success m-2" type="submit">Login</a>
        <a th:href="@{signup}" class="btn btn-outline-info" type="submit">Signup</a>
      </div>
    </nav>
    <div class="d-grid gap-2 col-4 mx-auto">
            <h2 class="text-center">Signup</h2>
            <form th:method="post" th:action="@{/signup}">
              <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control mb-4 col-4" id="floatingInput" placeholder="User Name">
                <label for="floatingInput">User Name</label>
              </div>
              <div class="form-floating">
                <input type="password" name="password" class="form-control mb-4 col-4" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
                <button type="submit" class="btn btn-success d-grid gap-2 col-3 mx-auto">Signup</button>
            </form>
    </div>
</div>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>